.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.div-inputs {
  display: flex;
  justify-content: center; 
}

.div-question {
  margin-bottom: 1%;
}

.td-first {
  padding-right: 40px;
}

.td-last {
  padding-left: 40px;
}

.input-radio {
  margin-bottom: 10px;
}

#span-worst {
  color: red;
}

#span-worse {
  color: orange;
}

#span-neutral {
  color: black;
}

#span-better {
  color: blue
}

#span-best {
  color: green
}

.span-toggle {
  font-size: 24px;
}