@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #222324;
  min-height: 70px;
  padding: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.div-inputs {
  display: flex;
  justify-content: center; 
}

.div-question {
  margin-bottom: 1%;
}

.td-first {
  padding-right: 40px;
}

.td-last {
  padding-left: 40px;
}

.tr-fixed {
  height: 50px;
}

.input-radio {
  margin-bottom: 10px;
}

/* .span-worst {
  color: red;
}

.span-worse {
  color: orange;
}

.span-neutral {
  color: black;
}

.span-better {
  color: blue
}

.span-best {
  color: green
} */

.span-toggle {
  font-size: 20px;
  color: rgb(129, 160, 209);
}

.span-selectedValueDescription {
  font-size: 18px;
}

.td-charactersRemaining {
  font-size: 12px;
}

.span-red {
  color: red;
}

.table-review {
  background-color: white;
  border-collapse: collapse;
  width: 80%;
}

.table-review td, .thead-1, .thead-2, .thead-3 {
  border: 1px solid #ddd;
  padding: 8px;
}

body {
  background-color: rgb(233, 233, 230);
}

